/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, h1, nav, .film-comment {
    font-family: 'Kaushan', cursive, sans-serif;
}

header{
    width: 90%;
    padding: 15px 0;
    margin: 30px auto 0;
    text-align: center;
    border-top: solid 5px #000000;
}

header .headline {
    font-size: 32px;
}

nav {
    width: 880px;
    margin: 0 auto;
    border-top: solid 0.7px #000000;
    border-bottom: solid 0.7px #000000;
}

.nav-film {
    text-align: center;
    display: inline-block;
}

.nav-film-item {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

main {
    width: 880px;
    margin: 0 auto;
}

.film-wrap {
    display: flex;
    flex-wrap: wrap;
}

.film-box {
    width: 200px;
    height: 250px;
    margin: 10px;
    position: relative;
}

.film-comment {
    width: 200px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.film-impressions {
    display: block;
    color: gray;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.film-title {
    display: block;
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}